*{
    font-family: roboto , sans-serif;
    text-align: center;
}



#header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

#header-img {
    display: flex;
    height: 6rem;
    width: 8rem;
}

#nav-bar {
    padding-top: 1.2rem;
    
}
.nav-link {
    margin-left: 1rem;
    text-decoration: none;
    color: #1170fd;
}
h2 {
    text-align: center;
}
#container {
    overflow: hidden;
}

#form {
    display: block;
    margin: 0 auto;
    position: relative;
    line-height: 2px;
}

#section1{
    text-align: center;
    
}

#email{
    width: 200px;
    height: 20px;
    border-radius: 5px;;

}

h2{
    color: #2F9D98;
}

.fas{
  color:#2EC0F9;
  font-size: 40px;
}

#how-it-works{
    padding: 20px 20px;
   
}